<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}EMARER Food Order System{% endblock %}</title>
</head>
<body>

  {% block content %}{% endblock %}

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          {% for category, message in messages %}
            alert("{{ message }}");
          {% endfor %}
        });
      </script>
    {% endif %}
  {% endwith %}

</body>
</html>