<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: layout(~{::body})}">
<body>

<h2>Login</h2>

<form class="card" method="post" action="/login">
  <div style="display:flex; gap:12px; flex-wrap:wrap;">
    <div>
      <label>Email</label><br/>
      <input name="email" type="email" required/>
    </div>

    <div>
      <label>Password</label><br/>
      <input name="password" type="password" required/>
    </div>
  </div>

  <div style="margin-top:12px;">
    <button class="btn btn-primary" type="submit">Login</button>
    <a class="btn" href="/register">Create an account</a>
  </div>
</form>

</body>
</html>
